:root {
  --color-dark: #000000;
  --color-light: #dfdff2;
  --color-yellow: #f1ff7e;
  --color-contrast: #54545c63;
  --color-blue: #5724ff;

  --color-disabled: #000;
  --background-disabled: #808080c4;
}

@font-face {
  font-family: "Robert-R";
  src: url("./src/assets/fonts/Roobert-Regular.woff2");
}

@font-face {
  font-family: "Robert-M";
  src: url("./src/assets/fonts/Roobert-Medium.woff2");
}

@font-face {
  font-family: "Roboto";
  src: url("./src/assets/fonts/RobotoMono-Regular.ttf");
}

@font-face {
  font-family: "Xen";
  src: url("./src/assets/fonts/ZENTRY-Regular.woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

main {
  position: relative;
  background-color: var(--color-dark);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1vw 1vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.navbarWrap {
  /* background-color: var(--color-dark); */
  backdrop-filter: blur(900px);
  width: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5vw 1.5vw;
}

.navbarWrap .sackLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6vw;
}

.navbarWrap .sackLeft img {
  height: 2.5rem;
}

.navbarWrap .sackRight {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 55px;
}

.navLink {
  position: relative;
  text-decoration: none;
  color: var(--color-light);
  font-family: "Roboto";
  text-transform: uppercase;
  font-size: 0.75vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  font-weight: 600;
  letter-spacing: 0.02vw;
  z-index: 1;
  transition: color 0.3s;
  width: 100px;
  height: 100%;
  transition: color all 0.2s ease-in-out;

  &:hover {
    color: var(--color-dark);
  }

  &:hover img {
    filter: invert(1);
  }
}

.hover-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 0.2s linear;
  top: 0;
  z-index: 0;
  pointer-events: none;
}

.hover-bg svg {
  height: 40px;
  width: 100px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
}

.navLink:hover + .hover-bg svg,
.hover-bg:hover svg {
  visibility: visible;
  opacity: 1;
}

.navLink > img {
  margin-top: 2.5px;
  transition: color all 0.2s ease-in-out;
}

.soundWave {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  gap: 3px;
  width: fit-content;
  margin-left: 1vw;
}

.indicatorLine {
  width: 1px;
  background-color: var(--color-light);
  height: 8px;
  animation: wave 1s infinite ease-out;
  animation-play-state: paused;
  transition: height 0.3s ease;
  border-radius: 100px;
}

@keyframes wave {
  25% {
    height: 16px;
  }

  50% {
    height: 20px;
  }
}

#section_1 {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.heroVideoWrap {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.heroVideoWrap video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section1Wrap {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 2;
}

.heroSack {
  height: 100%;
  width: 50%;
}

.section1Wrap .sackLeft {
  padding: 7.5vw 0 0 2.5vw;
}

.section1Wrap .sackRight {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 2vw 2vw 0;
}

.unleash {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  padding: 1vw 0 0 0;
  gap: 10px;
}

#section_2 {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  background-color: var(--color-light);
  overflow: hidden;
}

.section2Wrap {
  width: 100%;
}

.section2Wrap .sackTop {
  padding: 5vw 0 0 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.sackMiddle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 8vw 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sackMiddle .clownsImage {
  transform: scale(1.1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
  transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.sackMiddle .distortionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  transform: perspective(500px) rotateX(10deg) rotateY(15deg) rotateZ(-3deg);
}

.sackMiddle .distortionContainer .expandableTile {
  height: 460px;
  transform-origin: center;
  width: 320px;
  overflow: hidden;
  border-radius: 9px;
  transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  transform: perspective(500px) rotateX(10deg) rotateY(15deg) rotateZ(-3deg);
  position: relative;
}

.sackMiddle .distortionContainer .expandableTile .tileImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(2);
}

.sackBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 2vw 0 5vw 0;
}

#section_3 {
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

.section3Wrap {
  height: 100%;
  width: 100%;
}

.introTopContent {
  width: 85%;
  max-width: 1200px;
  position: relative;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1px;
  padding: 10vw 0;
}

.introTopContent .nth-1 {
  letter-spacing: 0.5px;
  font-weight: 600;
}

.introTopContent .nth-2 {
  letter-spacing: 0.5px;
  font-weight: 600;
  width: 30%;
}

#grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto;
  gap: 25px;
  width: 82%;
  max-width: 1200px;
  position: relative;
  margin: auto;
}

.grid-item {
  background-color: var(--color-contrast);
  color: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid var(--color-contrast);
  overflow: hidden;
  cursor: grab;
  position: relative;
  transition: transform 0.3s ease-out;
}

.grid-item-special{
  background-color: var(--color-contrast);
  color: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid var(--color-contrast);
  overflow: hidden;
  cursor: grab;
  position: relative;
  transition: transform 0.3s ease-out;
}

.grid-item video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  scale: 1;
}

.grid-item .absolute-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.7vw;
  height: 100%;
  width: 100%;
  /* background-color: #ffffff7e; */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  perspective: 2000px;
  transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  will-change: transform, box-shadow;
}

.absolute-container .top {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
}

.absolute-container .bottom {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  /* background-color: yellowgreen; */
  width: 100%;
}

.absolute-container .bottomNexus {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.item1 {
  grid-column: span 2;
  max-height: 500px;
}

.item2 {
  grid-column: span 1;
  min-height: 300px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 1.5vw;
  background-color: var(--color-blue);
  color: var(--color-dark);
  position: relative;
}

.item2 .mcsSVGCon {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

.item3 {
  grid-column: span 1;
  min-height: 300px;
}

.item4 {
  grid-row: span 2;
  min-height: 600px;
}

.item5 {
  grid-column: span 1;
  min-height: 300px;
}

.item6 {
  grid-column: span 1;
  min-height: 300px;
}
