:root {
  --color-dark: #000000;
  --color-light: #dfdff2;
  --color-yellow: #edff66;
  --color-contrast: #54545c63;
  --color-blue: #5724ff;

  --color-disabled: #000;
  --background-disabled: #808080c4;
}

@font-face {
  font-family: "Robert-R";
  src: url("./src/assets/fonts/Roobert-Regular.woff2");
}

@font-face {
  font-family: "Robert-M";
  src: url("./src/assets/fonts/Roobert-Medium.woff2");
}

@font-face {
  font-family: "Roboto";
  src: url("./src/assets/fonts/RobotoMono-Regular.ttf");
}

@font-face {
  font-family: "Xen";
  src: url("./src/assets/fonts/ZENTRY-Regular.woff2");
}

@font-face {
  font-family: "BacMat";
  src: url("./src/assets/fonts/blackmatteo.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#loader {
  height: 100%;
  width: 100%;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transform-origin: center;
}

#loader video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: 1;
}

.loaderOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #00000040;
  z-index: 2;
}

#loaderWrap {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

#loader-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: #00000040; */
  gap: 20px;
  position: relative;
  z-index: 3;
}

#loader-content img {
  height: 4.5rem;
}

.loaderButton {
  position: relative;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: none;
  top: 3%;
  left: 0;
  transform: translate(-50%, -50%);
}

.ld-btn-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 9vw;
  pointer-events: none;
}

.ld-btn-span {
  width: 100%;
}

.loaderButton .ld-btn-bottom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  position: relative;
  background-color: var(--color-light);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1vw 1vw;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 0.5s ease;
}

.navbarWrap {
  background-color: transparent;
  width: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.1vw 1.5vw;
  transition: all 0.5s ease;
}

.navbarWrap .sackLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6vw;
}

.navbarWrap .sackLeft img {
  height: 2.1rem;
  filter: invert(1);
}

.navbarWrap .sackRight {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 55px;
}

.navLink {
  position: relative;
  text-decoration: none;
  color: var(--color-light);
  font-family: "Roboto";
  text-transform: uppercase;
  font-size: 0.75vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  font-weight: 600;
  letter-spacing: 0.02vw;
  z-index: 1;
  transition: color 0.3s;
  width: 90px;
  height: 100%;
  transition: color all 0.2s ease-in-out;

  &:hover {
    color: var(--color-dark);
  }

  &:hover img {
    filter: invert(1);
  }
}

.hover-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 0.2s ease;
  top: 0;
  z-index: 0;
  pointer-events: none;
}

.hover-bg svg {
  height: 40px;
  width: 100px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
}

.navLink:hover + .hover-bg svg,
.hover-bg:hover svg {
  visibility: visible;
  opacity: 1;
}

.navLink > img {
  margin-top: 2.5px;
  transition: color all 0.2s ease-in-out;
}

.soundWave {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  gap: 3px;
  width: fit-content;
  margin-left: 1vw;
}

.indicatorLine {
  width: 1px;
  background-color: var(--color-light);
  height: 8px;
  animation: wave 1s infinite ease-out;
  animation-play-state: paused;
  transition: height 0.3s ease;
  border-radius: 100px;
}

@keyframes wave {
  25% {
    height: 16px;
  }

  50% {
    height: 20px;
  }
}

#section_1 {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.heroVideoWrap {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.heroVideoWrap video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section1Wrap {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 2;
}

.heroSack {
  height: 100%;
  width: 50%;
}

.section1Wrap .sackLeft {
  padding: 7.5vw 0 0 2.5vw;
}

.section1Wrap .sackRight {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 2vw 2vw 0;
}

.unleash {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  padding: 1vw 0 0 0;
  gap: 10px;
}

#section_2 {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  background-color: var(--color-light);
  overflow: hidden;
}

.section2Wrap {
  width: 100%;
}

.section2Wrap .sackTop {
  padding: 5vw 0 0 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.sackMiddle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 5vw 0 1vw 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.sackMiddle .clownsImage {
  transform: scale(1.1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
  transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.sackMiddle .distortionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.sackMiddle .distortionContainer .expandableTile {
  width: 24vw;
  height: 70.5vh;
  transform-origin: center;
  overflow: hidden;
  border-radius: 9px;
  transform-origin: center;
  transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  /* transform: perspective(450px) rotateX(8deg) rotateY(20deg) rotateZ(-3deg); */
  position: relative;
}

.sackMiddle .distortionContainer .expandableTile .tileImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* .sackBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 1vw 0 5vw 0;
} */

#section_3 {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  padding: 0vw 0vw 10vw 0;
}

.section3Wrap {
  height: 100%;
  width: 100%;
}

.introTopContent {
  width: 85%;
  max-width: 1200px;
  position: relative;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1px;
  padding: 10vw 0;
}

.introTopContent .nth-1 {
  letter-spacing: 0.5px;
  font-weight: 600;
}

.introTopContent .nth-2 {
  letter-spacing: 0.5px;
  font-weight: 600;
  width: 30%;
}

#grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto;
  gap: 25px;
  width: 82%;
  max-width: 1200px;
  position: relative;
  margin: auto;
}

.grid-item {
  background-color: var(--color-contrast);
  color: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid var(--color-contrast);
  overflow: hidden;
  cursor: grab;
  position: relative;
  transition: transform 0.3s ease-out;
}

.grid-item-special {
  background-color: var(--color-contrast);
  color: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid var(--color-contrast);
  overflow: hidden;
  cursor: grab;
  position: relative;
  transition: transform 0.3s ease-out;
}

.grid-item video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  scale: 1;
}

.grid-item .absolute-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.7vw;
  height: 100%;
  width: 100%;
  /* background-color: #ffffff7e; */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  perspective: 2000px;
  transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  will-change: transform, box-shadow;
}

.absolute-container .top {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
}

.absolute-container .bottom {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  /* background-color: yellowgreen; */
  width: 100%;
}

.absolute-container .bottomNexus {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.item1 {
  grid-column: span 2;
  max-height: 500px;
}

.item2 {
  grid-column: span 1;
  min-height: 300px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 1.5vw;
  background-color: var(--color-blue);
  color: var(--color-dark);
  position: relative;
}

.item2 .mcsSVGCon {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

.item3 {
  grid-column: span 1;
  min-height: 300px;
}

.item4 {
  grid-row: span 2;
  min-height: 600px;
}

.item5 {
  grid-column: span 1;
  min-height: 300px;
}

.item6 {
  grid-column: span 1;
  min-height: 300px;
}

#section_4 {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 5vw 0;
}

.s4_wrap {
  width: 100%;
  /* background-color: #a384f9; */
  /* position: relative; */
}

.s4_wrap .s4-title {
  width: 100%;
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
}

.s4_wrap .s4-title h1 {
  text-align: center;
  width: 100%;
  color: var(--color-light);
}

.imagebar {
  width: 100%;
  height: 100%;
  padding: 4vw 0;
}

.realm-imageCon {
  transform: perspective(600px) rotate3d(1, 1, 0, 20deg);
  width: 60%;
  height: 70vh;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  margin: auto;
}

.realm-imageCon img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bottom_text_container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 2vw 5vw 0 0;
}

.btc-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 20rem;
  gap: 10px;
}

.btc-wrap p {
  width: 100%;
}

.default__btn {
  padding: 0.5vw 1.5vw;
  background: var(--color-light);
  color: var(--color-dark);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
}

#section_5 {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  background-color: var(--color-light);
  padding: 10vw 0 5vw 0;
}

.sec5-wrap {
  width: 100%;
}

.tt-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
  perspective: 2000px;
}

.tt-content h1 {
  font-family: "Xen";
  font-size: 7.5vw;
  width: fit-content;
  height: 80px;
  line-height: 0.85;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.image__tile {
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  background-color: var(--color-disabled);
  border-radius: 5px;
  vertical-align: middle;
  margin: 0 0.2em;
  position: sticky;
  pointer-events: all;
  overflow: hidden;
  border: 1.5px solid var(--color-dark);
  transition: all 0.5s ease;
  transition-delay: 20ms;
}

.image__tile:hover {
  width: 2.5em;
  height: 1.9em;
  background-color: #000000;

  border-radius: 8px;
}

.image__tile img {
  opacity: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.4s ease-out;
}

.image__tile:hover img {
  opacity: 1;
  position: absolute;
}

.detail-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 2vw 0;
}

.detail-wrap p {
  color: var(--color-dark);
  width: 30%;
  text-align: center;
}

.detail-wrap button {
  color: var(--color-light);
  background-color: var(--color-dark);
}

#section_6 {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: var(--color-light);
}

.sec6-wrap {
  width: 90%;
  height: 85%;
  background-color: var(--color-dark);
  position: relative;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}

.sec6-wrap .t-data {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}

.joinZentry {
  font-size: 0.7vw;
  font-family: "Roboto";
  text-align: center;
  color: var(--color-light);
}

.sec6-wrap h1 {
  color: var(--color-light);
  width: 51%;
  text-align: center;
}

.sec6-wrap .image__frames {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

.image-frame {
  overflow: hidden;
  border: 1.5px solid #000;
}

.image-frame img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* position: absolute; */
}

.image1 {
  height: 240px;
  width: 190px;
  border-radius: 8px;
  position: absolute;
  top: -10%;
  left: 20%;
  transform: perspective(400px) rotateX(-20deg) rotateY(20deg);
}

.image2 {
  height: 240px;
  width: 190px;
  border-radius: 8px;
  position: absolute;
  top: 67%;
  left: 20%;
  transform: perspective(400px) rotateX(30deg) rotateY(10deg) rotateZ(20deg);
}

.image3 {
  height: 400px;
  width: 270px;
  border-radius: 8px;
  position: absolute;
  top: 10%;
  left: 70%;
  transform: perspective(400px) rotateX(10deg) rotateY(-18deg) rotateZ(10deg);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--color-blue);
  color: black;
}

.footer-title {
  font-size: 37vw;
  font-family: "Xen";
  width: fit-content;
  height: fit-content;
  line-height: 0.85;
  text-align: center;
  text-transform: uppercase;
  padding: 2vw 0 7vw 0;
  font-weight: 100;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
}

.footer-section {
  text-align: left;
}

.footer-section h4 {
  margin: 0 0 20px;
  font-size: 0.7vw;
  font-family: "Roboto";
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin: 10px 0;
}

.footer-section ul li a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-family: "Robert-M";
}

.footer-logo {
  padding: 3vw 0;
}

.footer-logo img {
  width: 50px;
  height: auto;
}

.footer-bottom {
  font-size: 0.7vw;
  font-family: "Roboto";
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 7vw 3vw 1vw 3vw;
  font-weight: 600;
}

.footer-bottom p {
  text-transform: uppercase;
}

.footer-bottom a {
  text-decoration: none;
}
