/* BUTTON SVG CLASSIFIED MAINLY AT -- utils.css */
.btn__main{
    position: relative;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: red;
}

.btn__main .btnMain__top{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.btn__main .btnMain__top svg{
    margin-top: 3.3px;
    width: fit-content;
}

.btn__main .btnMain__top .btnMain__span{
    width: fit-content;
    font-size: .65vw;
    font-family: 'Roboto';
    font-weight: 600;
}

.btn__main .btnMain__bottom{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}